BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 20260530_000001

CREATE TYPE event_type_enum AS ENUM ('ENTRY', 'EXIT', 'ZONE_ENTER', 'ZONE_EXIT', 'ZONE_DWELL', 'BILLING_QUEUE_JOIN', 'BILLING_QUEUE_ABANDON', 'REENTRY');

CREATE TABLE stores (
    id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    city VARCHAR(255) NOT NULL, 
    timezone VARCHAR(100) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_stores_name ON stores (name);

CREATE INDEX ix_stores_city ON stores (city);

CREATE TABLE visitors (
    id UUID NOT NULL, 
    store_id UUID NOT NULL, 
    is_staff BOOLEAN NOT NULL, 
    session_start TIMESTAMP WITH TIME ZONE NOT NULL, 
    session_end TIMESTAMP WITH TIME ZONE, 
    is_converted BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(store_id) REFERENCES stores (id) ON DELETE CASCADE
);

CREATE INDEX ix_visitors_store_id ON visitors (store_id);

CREATE INDEX ix_visitors_session_start ON visitors (session_start);

CREATE TABLE events (
    id UUID NOT NULL, 
    visitor_id UUID NOT NULL, 
    store_id UUID NOT NULL, 
    event_type event_type_enum NOT NULL, 
    camera_id VARCHAR(128) NOT NULL, 
    zone_id VARCHAR(128), 
    timestamp TIMESTAMP WITH TIME ZONE NOT NULL, 
    dwell_ms INTEGER, 
    confidence NUMERIC(5, 4) NOT NULL, 
    metadata_json JSONB, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(visitor_id) REFERENCES visitors (id) ON DELETE CASCADE, 
    FOREIGN KEY(store_id) REFERENCES stores (id) ON DELETE CASCADE
);

CREATE INDEX ix_events_store_timestamp ON events (store_id, timestamp);

CREATE INDEX ix_events_visitor_timestamp ON events (visitor_id, timestamp);

CREATE INDEX ix_events_event_type ON events (event_type);

CREATE INDEX ix_events_zone_id ON events (zone_id);

CREATE INDEX ix_events_camera_id ON events (camera_id);

CREATE TABLE transactions (
    id UUID NOT NULL, 
    visitor_id UUID NOT NULL, 
    store_id UUID NOT NULL, 
    timestamp TIMESTAMP WITH TIME ZONE NOT NULL, 
    basket_value NUMERIC(12, 2) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(visitor_id) REFERENCES visitors (id) ON DELETE CASCADE, 
    FOREIGN KEY(store_id) REFERENCES stores (id) ON DELETE CASCADE
);

CREATE INDEX ix_transactions_store_timestamp ON transactions (store_id, timestamp);

CREATE INDEX ix_transactions_visitor_id ON transactions (visitor_id);

CREATE TABLE anomalies (
    id UUID NOT NULL, 
    store_id UUID NOT NULL, 
    anomaly_type VARCHAR(128) NOT NULL, 
    severity VARCHAR(32) NOT NULL, 
    description VARCHAR(1000) NOT NULL, 
    detected_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    resolved_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(store_id) REFERENCES stores (id) ON DELETE CASCADE
);

CREATE INDEX ix_anomaly_store_detected ON anomalies (store_id, detected_at);

CREATE INDEX ix_anomaly_type ON anomalies (anomaly_type);

CREATE INDEX ix_anomaly_severity ON anomalies (severity);

INSERT INTO alembic_version (version_num) VALUES ('20260530_000001') RETURNING alembic_version.version_num;

COMMIT;

